## .gitignore para projetos .NET

bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/
.idea/
*.swp

TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

*.log
*.tmp

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

project.lock.json
project.fragment.lock.json
artifacts/

launchSettings.json
!**/Properties/launchSettings.json

*.DotSettings.user
